.pasta-russa {
  font-family: 'Averia Serif Libre', cursive;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1em;
}

.album-info {
  padding: 1em;
}

.stream-link {
  max-width: 2em;
  width: 2em;
  background-color: whitesmoke;
  opacity: 0.7;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0 10px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(336deg) brightness(108%) contrast(101%);
}

.stream-link:hover {
  filter: none;
  opacity: 1;
}