.pasta-russa {
  font-family: 'Averia Serif Libre', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.band-name {
  margin-bottom: 0.2em;
}

.album-title {
  margin-top: 0;
  font-size: 1.2em;
}

.album-cover {
  width: clamp(200px, 100%, 400px);
  object-fit: cover;
}

.album-info {
  padding: 1em;
}

.album-links {
  margin: 1em;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}

.stream-link {
  max-width: 2em;
  width: 2em;
  background-color: whitesmoke;
  opacity: 0.7;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0 10px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(336deg)
    brightness(108%) contrast(101%);
}

.stream-link:hover {
  filter: none;
  opacity: 1;
}

#link-7 {
  padding: 1em 0.5em;
}